@font-face {
  font-family: "Chev";
  src: url("/src/assets/fonts/Cheveuxdange-2LYw.ttf") format("truetype");
}

@font-face {
  font-family: "Scratch";
  src: url("/src/assets/fonts/Scratch-ap0o.ttf") format("truetype");
}

@font-face {
  font-family: "QuickPencil";
  src: url("/src/assets/fonts/QuickPencilRegular-0R59.ttf") format("truetype");
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  /* background-color: #0a314e; */

  /* background: linear-gradient(120deg, #5A7FA3, #a8d8f0); */
  background: linear-gradient(135deg, #634483 0%, #92adf7 100%);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#app {
  max-width: 1280px;
  user-select: none; /* Standard */
  -webkit-user-select: none; /* Safari/Chrome */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Old Edge/IE */
  -webkit-touch-callout: none; /* iOS long-press menu */
  caret-color: transparent; /* Hide caret if contentEditable */
}

body {
  min-width: 320px;
  min-height: 100vh;
  height: auto;
  width: auto;
  margin: 0; /* remove default margins */
  padding: 0;
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: linear-gradient(white 1px, transparent 1px),
    linear-gradient(90deg, white 1px, transparent 1px);
  background-size: 40px 40px;
  opacity: 0.1;
}
